


<p id="notice"><%= notice %></p>

<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./card-stack.css">

    <script "hotdawg/hotdog_application/app/views/dogs/src/bower_components/angular/angular.js"></script>
    <script src="./../../src/angular-swing.js"></script>

    <script src="./card-stack.js"></script>
</head>
<%=@dogs.first.name %>

<h1>Listing Dogs</h1>

<table>
  <thead>
    <tr>
      <th>Breed</th>
      <th>Shelter</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Size</th>
      <th>Weight</th>
      <th>Photo link</th>
      <th>Number of likes</th>
      <th>Number of dislikes</th>
      <th>Number of hotdogs</th>
      <th>Has been adopted</th>
      <th>Is available</th>
      <th>Foster family</th>
      <th>Number of times attempted to adopt</th>
      <th>Hot dog</th>
      <th colspan="3"></th>
    </tr>
  </thead>
   
  <tbody>

    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.breed_id %></td>
        <td><%= dog.shelter_id %></td>
        <td><%= dog.name %></td>
        <td><%= dog.age %></td>
        <td><%= dog.gender %></td>
        <td><%= dog.size %></td>
        <td><%= dog.weight %></td>
        <td><%= dog.photo_link %></td>
        <td><%= dog.number_of_likes %></td>
        <td><%= dog.number_of_dislikes %></td>
        <td><%= dog.number_of_hotdogs %></td>
        <td><%= dog.has_been_adopted %></td>
        <td><%= dog.is_available %></td>
        <td><%= dog.foster_family %></td>
        <td><%= dog.number_of_times_attempted_to_adopt %></td>
        <td><%= dog.hot_dog %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>




<!DOCTYPE html>

<body ng-app="card-stack-demo">
    <div id="viewport" ng-controller="card-stack-playground as card">
        <ul class="stack" swing-stack swing-options="options">
            <li
                swing-card
                swing-on-throwout="throwout(eventName, eventObject)"
                swing-on-throwoutleft="throwoutleft(eventName, eventObject)"
                swing-on-throwoutright="throwoutright(eventName, eventObject)"
                swing-on-throwin="throwin(eventName, eventObject)"
                swing-on-dragstart="dragstart(eventName, eventObject)"
                swing-on-dragmove="dragmove(eventName, eventObject)"
                swing-on-dragend="dragend(eventName, eventObject)"
                ng-repeat="card in cards" ng-class="card.name">
                {{card.age}} <br>
                <div id= "description">temp
                </li>
        </ul>
    </div>
    <div id="source">
        <p>Drag the playing cards out of the stack and let go. Dragging them beyond the desk will throw them out of the stack. If you drag too little and let go, the cards will spring back into place. You can throw cards back into the stack after you have thrown them out.</p>
        <p>Open the <a href="https://developer.chrome.com/devtools/docs/console">Console</a> to view the associated events.<p>
        <p>Demonstration of <a href="https://github.com/gajus/angular-swing">https://github.com/gajus/angular-swing</a> implementation.</p>
    </div>
</body>
</html>

