<%= form_for(@like) do |f| %>
  <% if @like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@like.errors.count, "error") %> prohibited this like from being saved:</h2>

      <ul>
      <% @like.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dog_id %><br>
    <%= f.number_field :dog_id %>
  </div>
  <div class="field">
    <%= f.label :tinder_session %><br>
    <%= f.number_field :tinder_session %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :datetime %><br>
    <%= f.date_select :datetime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
